@model ProductServiceModel 

<div class="col">
    <div class="card h-100">
        <img src="@Model.ImageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.CreatedOn</p>


            @if (User?.Identity?.Name == Model.Creator)
            {
                <div style="display: flex; align-items: center; justify-content: center; gap: 2em; margin-bottom: 1em;" class="changeButtons">

                    <a style="padding: 0.9em; display: block;" class="edit-btn" asp-action="Edit" asp-route-id="@Model.Id">Редактирай</a>
                    <a style="padding: 0.9em; display: block;" class="delete-btn" asp-action="Delete" asp-route-id="@Model.Id">Изтрий</a>

                </div>
            }



            <a asp-action="Details" asp-route-id="@Model.Id" id="open-submit" type="submit" class="w-100 btn open-btn btn-primary">Отвори</a>

            <form class="input-group-sm" asp-controller="Product" asp-action="Like" asp-route-id="@Model.Id">
                <input type="submit" value="Добави в мои" class="fs-6 btn btn-warning mb-2 w-100 p-3 fw-bold" />
            </form>

        </div>
    </div>
</div>