@model PostDetailsViewModel

@{
    ViewBag.Title = "Детайли за публикация";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="container" style="display:inline">
    <div class="row">

        <div class="col-5">
            <img class="card-img-top" style="width: 25vw; height: 60vh"
                 src="@Model.ImageUrl" alt="Post Image">
        </div>

        <div class="content-div card col-7 border-0">
            <h2>@Model.Title</h2>
            <p>@Model.Description</p>

            <div class="form-inline">

                @if (this?.User?.Identity?.Name == Model.Creator)
                {
                    <a class="btn btn-warning" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id">Редактирай</a>
                    <a class="ml-2 btn btn-danger" asp-controller="Post" asp-action="Remove" asp-route-id="@Model.Id">Изтрий</a>
            
                }

            </div>

            <p>@Model.CreatedOn</p>
    
        </div>
    </div>
</div>



@section Styles {
    <link rel="stylesheet" href="~/css//post-details.css" />
}